<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div>
        <div class="row">
            <p>
                <!-- <%- songs[0].title %> -->
            </p>
            <div class="col-md-3" key={song.id}>
                <div class="card" style=>
                    <% songs.forEach(function(data,index){  %>
                        <p>
                            <%- data.title %>
                        </p>


                        <img src=" <%- data.img %>" class="card-img-top" alt={song.title} />
                        <div class="card-body">
                            <h5 class="card-title">
                                <%-data.title%> -
                                    <%-data.movie%>
                            </h5>


                            <audio controls src="<%-data.song %>" />
                        </div>
                </div>

                <% }) %>
            </div>



        </div>
    </div>
</body>

</html>